h1{
    background-color: aqua;
}
h1:hover{
    background-color: aquamarine;
}
p{
    color: azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    align-self: start;
}